body {
    font-family: "ＭＳ Ｐゴシック";
    font-weight: bold;
    font-smooth: never;
    -webkit-font-smoothing: none;
}

.btn-primary:hover {
    background-color: #ffcb05 !important;
    color: black !important;
    font-weight: bold;
}

.btn-primary{
    background-color: #3466af !important; /* Change the hover color if desired */
    color: white !important;
}